<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.leocoder.lease.custom.web.admin.mapper.ProvinceInfoMapper">
    <resultMap id="BaseResultMap" type="org.leocoder.lease.model.domain.ProvinceInfo">
        <!--@mbg.generated-->
        <!--@Table province_info-->
        <id         column="id"             jdbcType="BIGINT"       property="id"/>
        <result     column="name"           jdbcType="VARCHAR"      property="name"/>
        <result     column="create_time"    jdbcType="TIMESTAMP"    property="createTime"/>
        <result     column="update_time"    jdbcType="TIMESTAMP"    property="updateTime"/>
        <result     column="is_deleted"     jdbcType="TINYINT"      property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        `name`,
        create_time,
        update_time,
        is_deleted
    </sql>
</mapper>