<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.leocoder.lease.custom.web.admin.mapper.SystemUserMapper">
    <resultMap id="BaseResultMap" type="org.leocoder.lease.model.domain.SystemUser">
        <!--@mbg.generated-->
        <!--@Table `system_user`-->
        <id         column="id"                 jdbcType="BIGINT"       property="id"/>
        <result     column="username"           jdbcType="VARCHAR"      property="username"/>
        <result     column="password"           jdbcType="VARCHAR"      property="password"/>
        <result     column="name"               jdbcType="VARCHAR"      property="name"/>
        <result     column="type"               jdbcType="TINYINT"      property="type"/>
        <result     column="phone"              jdbcType="VARCHAR"      property="phone"/>
        <result     column="avatar_url"         jdbcType="VARCHAR"      property="avatarUrl"/>
        <result     column="additional_info"    jdbcType="VARCHAR"      property="additionalInfo"/>
        <result     column="post_id"            jdbcType="BIGINT"       property="postId"/>
        <result     column="status"             jdbcType="TINYINT"      property="status"/>
        <result     column="create_time"        jdbcType="TIMESTAMP"    property="createTime"/>
        <result     column="update_time"        jdbcType="TIMESTAMP"    property="updateTime"/>
        <result     column="is_deleted"         jdbcType="TINYINT"      property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, username, `password`, `name`, `type`, phone, avatar_url, additional_info, post_id,
        `status`, create_time, update_time, is_deleted
    </sql>
</mapper>